<nb-card>
  <nb-card-header class="row table-header">
    <div class="table-header__icon">
      <mat-icon>message</mat-icon>
      Messages
    </div>
    <mat-form-field appearance="outline" class="table-header__search">
      <mat-label>Search for a message</mat-label>
      <input matInput #searchInput />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </nb-card-header>
  <nb-card-body>
    <div [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortDirection="desc"
        matSortDisableClear
      >
        <!-- Name column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Sender's name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Email column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Email
          </th>
          <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>

        <!-- Phone column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Phone
          </th>
          <td mat-cell *matCellDef="let row">{{ row.phone | phoneNumber }}</td>
        </ng-container>

        <!-- Address column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Address
          </th>
          <td mat-cell *matCellDef="let row">{{ row.address }}</td>
        </ng-container>

        <!-- Sent at column-->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Sent at
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.createdAt | date: "MMMM d, h:mm a" }}
          </td>
        </ng-container>

        <!-- Actions column-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <th mat-cell *matCellDef="let row" class="action-link">
            <a (click)="showEdit(row)" title="view" class="edit-button">
              <mat-icon>preview</mat-icon>
            </a>
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </nb-card-body>
</nb-card>
